.profileWrapper {
  margin-top: 20px;
  background-color: var(--white);
  padding: 30px 20px;
  text-align: center;
}

.profileTitle {
  font-size: 20px;
  color: var(--orange);
  font-weight: bold;
  margin-bottom: 30px;
}

.profileInput {
  border: 1px solid var(--grayBorder);
  color: var(--gray);
  font-size: 0.8rem !important;
  border-radius: 5px;
  margin-bottom: 5px;
}

.saveBtn {
  background-color: var(--orange) !important;
  color: var(--white);
  width: 100%;
  border: none !important;
  margin-bottom: 10px;
  margin-top: 20px;
}




.icons{
  cursor: pointer;
  margin-right: 10px;
}