.authWrapper {
  background-color: var(--white);
  padding: 30px 20px;
  text-align: center;
}

.authTitle {
  font-size: 20px;
  color: var (--black);
  font-weight: bold;
  margin-bottom: 30px;
}

.authInput {
  border: 1px solid var(--grayBorder);
  color: var(--gray);
  font-size: 0.8rem !important;
  border-radius: 5px;
  margin-bottom: 5px;
}

.forgotPassword {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 0.9rem;
  font-style: italic;
  color: var(--gray);
}

.loginBtn {
  background-color: var(--orange) !important;
  color: var(--white);
  width: 100%;
  border: none !important;
  margin-bottom: 10px;
}

.signupBtn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--orange);
  width: 100%;
  padding: 5px 0px;
}

.signupBtn:hover {
  border: 1px solid var(--orange);
}

.error {
  height: 20px;
}
