.navbarContainer {
  background-color: var(--orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: var(--white);
  display: none;
}



.menuBar{
  background-color: transparent;
  border: none;
  cursor: pointer;
}


@media(min-width: 768px){
  .menuBar{
    display: none;
  }

  .logo{
    display: block;
  }
}