.navbarContainer {
  background-color: var(--orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: var(--white);
}

.menuBar {
  background-color: transparent;
  cursor: pointer;
  display: block;
}

@media screen and (min-width: 768px) {
  .menuBar {
    display: none;
  }
}