.navbarContainer {
  background-color: var(--orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: var(--white);
  
}



.menuBar{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
