.wrapper {
  padding: 20px;
  margin: 20px 0px;
  background-color: var(--white);
}

.commentWrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.commentInput {
  border: 1px solid var(--grayBorder);
  border-radius: 5px;
  width: 80%;
  padding: 8px;
}

.postBtn {
  margin-left: 20px;
  padding: 10px;
  background-color: var(--orange);
  border: none;
  flex: 0 0 20%
}

/* rating stars */

.starIcon {
  height: 1.6rem;
  width: 1.6rem;
}

.starsWrapper {
  cursor: pointer;
}