.booksListWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.cardWrapper {
  width: 10rem;
  text-align: center;
  margin-bottom: 10px;
}

.cardTitle {
  font-weight: bold;
  text-overflow: ellipsis;
  cursor: pointer;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
}

.cardTitle:hover {
  overflow: visible;
  white-space: normal;
}

.cardImage {
height: 170px;
}
.cardBtn {
  background-color: #FA8C16;
  font-size: 0.7rem;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 10px;
}

.cardBtn:hover {
  background-color: #a35b0d;
}